<footer>
  <div class="footer-container">
    <div class="footer-links">
      <a href="#lien1">Contact</a>
      <a href="#lien2">Clubs</a>
    </div>
    <div class="footer-social-media">
      <a href="#lien-reseau1"><i class="fab fa-reseau1"></i></a>
      <a href="#lien-reseau2"><i class="fab fa-reseau2"></i></a>
      <a href="#lien-reseau3"><i class="fab fa-reseau3"></i></a>
    </div>
  </div>
</footer>
