<section class="hero-section">
  <div class="hero-container">
    <img src="{{ asset('asset/image/symsym.png') }}" alt="Image de héros" class="hero-image">
    <h1 class="hero-title">The Future </h1>
    <h2 class="hero-subtitle">Symfony</h2>
    <a href=  "{{path('app_login')}}" class="hero-button">Connexion</a>
     <a href=  "{{path('app_register')}}" class="hero-button">Inscription</a>
  </div>
</section>
