<section class="hero-section">
  <div class="hero-container">
    <img src="{{ asset('asset/image/symfony.png') }}" alt="Image de héros" class="hero-image">
    <h1 class="hero-title">Bienvenu chez Twig</h1>
    <h2 class="hero-subtitle">Twig</h2>
    <a href="#lien" class="hero-button">Connexion</a>
  </div>
</section>
