{% extends 'base.html.twig' %}

{% block title %}Ajouter Categorie{% endblock %}

{% block body %}
    <h1>Ajouter une categorie</h1>
    <div class="form-container">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Ajouter</button>
        {{ form_end(form) }}
        <p>{{msg}} <p>
    </div>
{% endblock %}
