{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1>Mes Articles</h1>
{% include 'component/heroArticle.html.twig' %}
 {% include 'component/footer.html.twig' %}
{% endblock %}
